<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      APP - ABONO SALARIAL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <form #formulario="ngForm">
    <br><br><br>
    <ion-item>
      <ion-label position="floating">Salário: </ion-label>
      <ion-input name="sal" ngModel></ion-input>
    </ion-item><br>
    <ion-item>
      <ion-label position="floating">Tempo de Empresa: </ion-label>
      <ion-input name="tempemp" ngModel></ion-input>
    </ion-item><br><br>
    <ion-item>
      <ion-label position="floating">Idade do Colaborador: </ion-label>
      <ion-input name="age" ngModel></ion-input>
    </ion-item><br><br>

    <ion-button (click)="calcabono(formulario)">Calcular Abono</ion-button>
    
    <br><br>
    <ion-item>
      <ion-label position="floating">ABONO SALARIAL: </ion-label>
      <ion-input disabled value="{{abono}}"></ion-input>
    </ion-item>
    <br><br>
    <ion-item>
      <ion-label position="floating">Salário Reajustado: </ion-label>
      <ion-input disabled value="{{resultado}}"></ion-input>
    </ion-item>
    <br><br>
  </form>

  <div>
    <pre>
        Condições para o abono e valor abono:
          - tempo de empresa > 20 + idade > 50 -> 500,00 de abono
          - tempo de empresa > 20 ou idade > 50 -> 250,00 de abono
    </pre>
  </div>

</ion-content>